$brick = #eb4934
$emerald = #9fd5ba
$mustard = #fad813
$lavender = #bc88c9
$purple = #6772e5

$bg = #eceff1
$ivory = #f5f5f7
$text = #6b7c93
$codeText = #c25

$powderBlue = #4abdac
$deepBlue = #87bbfd
$blush = #eeb6b7
$slate = #f6f9fc
$storm = #494e6b
