.app
  overflow hidden
  height 100vh
  .feather-btm
    position absolute
    bottom 80px
    width 100vw
    height 24px
    z-index zFeather
    background linear-gradient(180deg, rgba(0,0,0,0) 0%, $bg 100%)
  button.gather
    position absolute
    margin 0px 8px 8px 8px
    height 64px
    width calc(100% - 16px)
    bottom 0px
    left 0px
    right 0px
    border-radius 4px
    font-size 22px
    background $purple
    color #fff
    font-family 'Lato Light'
    letter-spacing 0.618px
    text-transform capitalize
    cursor pointer
    {noSelect}
    span.left
      margin-right 8px
    span.right
      margin-left 8px
