.groups
  position absolute
  top 48px
  padding-top 24px
  bottom 80px
  width 100vw
  overflow scroll
  .empty-view
    display flex
    flex-direction column
    justify-content center
    align-items center
    text-align center
    height 100%
    color rgba($purple, 0.4)
    font-family 'Operator Mono XLight Italic'
    font-size 40px
  .group
    display flex
    justify-content center
    align-items center
    margin-bottom 24px
