.groups
  position absolute
  top 48px
  padding-top 24px
  bottom 80px
  width 100vw
  overflow scroll
  .group
    display flex
    justify-content center
    align-items center
    margin-bottom 24px
    .person
      .name
        //
